.flex-box--6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6; }

.flex-box--5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5; }

.flex-box--4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4; }

.flex-box--3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.flex-box--2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.flex-box--1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.flex-container--12 > .flex-box {
  width: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%; }

.flex-container--11 > .flex-box {
  width: 9.09091%;
  -ms-flex-preferred-size: 9.09091%;
      flex-basis: 9.09091%; }

.flex-container--10 > .flex-box {
  width: 10%;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%; }

.flex-container--9 > .flex-box {
  width: 11.11111%;
  -ms-flex-preferred-size: 11.11111%;
      flex-basis: 11.11111%; }

.flex-container--8 > .flex-box {
  width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%; }

.flex-container--7 > .flex-box {
  width: 14.28571%;
  -ms-flex-preferred-size: 14.28571%;
      flex-basis: 14.28571%; }

.flex-container--6 > .flex-box {
  width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%; }

.flex-container--5 > .flex-box {
  width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }

.flex-container--4 > .flex-box {
  width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }

.flex-container--3 > .flex-box {
  width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%; }

.flex-container--2 > .flex-box {
  width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }

.flex-container--1 > .flex-box {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.flex-box--no-grow {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.flex-box--align-self {
  -ms-flex-item-align: stretch;
      align-self: stretch; }

.flex-box--6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6; }

.flex-box--5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5; }

.flex-box--4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4; }

.flex-box--3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.flex-box--2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2; }

.flex-box--1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-container--half-page {
  height: 50vh; }

.flex-container--full-page {
  height: 100vh; }

.flex-container--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-container--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-container--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-container--column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.flex-container--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-container--fill .flex-container--fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.flex-justify--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-justify--end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.flex-justify--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.flex-justify--space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-justify--space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-item--start {
  -webkit-box-align: start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start; }

.flex-item--end {
  -webkit-box-align: end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end; }

.flex-item--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.flex-item--stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch; }

.flex-item--baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
              -ms-grid-row-align: baseline;
          align-items: baseline; }

.flex-content--start {
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.flex-content--end {
  -ms-flex-line-pack: end;
      align-content: flex-end; }

.flex-content--center {
  -ms-flex-line-pack: center;
      align-content: center; }

.flex-content--stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.flex-content--space-between {
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.flex-content--space-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around; }

.flex-container--12 > .flex-box {
  width: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%; }

.flex-container--11 > .flex-box {
  width: 9.09091%;
  -ms-flex-preferred-size: 9.09091%;
      flex-basis: 9.09091%; }

.flex-container--10 > .flex-box {
  width: 10%;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%; }

.flex-container--9 > .flex-box {
  width: 11.11111%;
  -ms-flex-preferred-size: 11.11111%;
      flex-basis: 11.11111%; }

.flex-container--8 > .flex-box {
  width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%; }

.flex-container--7 > .flex-box {
  width: 14.28571%;
  -ms-flex-preferred-size: 14.28571%;
      flex-basis: 14.28571%; }

.flex-container--6 > .flex-box {
  width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%; }

.flex-container--5 > .flex-box {
  width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }

.flex-container--4 > .flex-box {
  width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }

.flex-container--3 > .flex-box {
  width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%; }

.flex-container--2 > .flex-box {
  width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }

.flex-container--1 > .flex-box {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

.margin-top-auto {
  margin-top: auto; }

.margin-right-auto {
  margin-right: auto; }

.margin-bottom-auto {
  margin-bottom: auto; }

.margin-left-auto {
  margin-left: auto; }

.margin-auto-x {
  margin-left: auto;
  margin-right: auto; }

.margin-auto-y {
  margin-top: auto;
  margin-bottom: auto; }

.margin-auto {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto; }
