@mixin flex {
	display: flex;
}

@mixin direction($direction) {
	flex-direction: $direction;
}

@mixin wrap($wrap) {
	flex-wrap: $wrap;
}

@mixin self($self) {
	align-self: $self;
}

@mixin item($item) {
	align-items: $item;
}

@mixin justify($justify) {
	justify-content: $justify;
}

@mixin content($content) {
	align-content: $content;
}

@mixin flexbox($flex) {
	flex: $flex;
}

@mixin flex-basis($basis) {
	$w : 100 / $basis;
	width: #{$w}%;
	flex-basis: #{$w}%;
}

@mixin flex-center {
	@include justify(center);
	@include content(center);
	@include item(center);
}

@mixin flex-box {
	@include flex;
	@include flexbox(1 1 auto);
}

@mixin flex-box--no-grow {
	flex-grow: 0;
}

@mixin flex-box--align-self {
	@include self(stretch);
}

$flexbox-iterator: 6;

@while $flexbox-iterator > 0 {
	.flex-box--#{$flexbox-iterator} {
		@include flexbox($flexbox-iterator);
	}
	
	$flexbox-iterator: $flexbox-iterator - 1;
}

@mixin flex-container {
	@include flex;
}

@mixin flex-container--half-page {
	height: 50vh;
}

@mixin flex-container--full-page {
	height: 100vh;
}

@mixin flex-container--row {
	@include direction(row);
}

@mixin flex-container--row-reverse {
	@include direction(row-reverse);
}

@mixin flex-container--column {
	@include direction(column);
}

@mixin flex-container--column-reverse {
	@include direction(column-reverse);
}

@mixin flex-container--wrap {
	@include wrap(wrap);
}

@mixin flex-justify--start {
	@include justify(flex-start);
}

@mixin flex-justify--end {
	@include justify(flex-end);
}

@mixin flex-justify--center {
	@include justify(center);
}

@mixin flex-justify--space-between {
	@include justify(space-between);
}

@mixin flex-justify--space-around {
	@include justify(space-around);
}

@mixin flex-item--start {
	@include item(flex-start);
}

@mixin flex-item--end {
	@include item(flex-end);
}

@mixin flex-item--center {
	@include item(center);
}

@mixin flex-item--stretch {
	@include item(stretch);
}

@mixin flex-item--baseline {
	@include item(baseline);
}

@mixin flex-content--start {
	@include content(flex-start);
}

@mixin flex-content--end {
	@include content(flex-end);
}

@mixin flex-content--center {
	@include content(center);
}

@mixin flex-content--stretch {
	@include content(stretch);
}

@mixin flex-content--space-between {
	@include content(space-between);
}

@mixin flex-content--space-around {
	@include content(space-around);
}

$basis-iterator: 12;

@while $basis-iterator > 0 {
	.flex-container--#{$basis-iterator} {
		> .flex-box {
			@include flex-basis($basis-iterator);
		}
	}
	
	$basis-iterator: $basis-iterator - 1;
}
